.careerOS-button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 16px;
    min-height: 40px;
    max-height: fit-content;
    column-gap: 8px;
    width: fit-content;
    // @include body-large;
    color: var(--text-white);
    background-color: var(--blue-green-blue-green80);
    box-shadow: 0px 4px 4px var(--light-blue-opacity10);
    border-radius: 4px;
    outline: none;
    border: 0.5px solid transparent;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    @media only screen and (max-width: 1280px) and (hover: none) and (pointer: coarse) {
      height: 32px;
      padding: 6px 12px;
      min-height: 32px;
    //   @include body-medium;
    }
    &__label {
      text-wrap: nowrap;
    }
    &__icon {
      display: flex;
      height: 100%;
      justify-content: center;
      align-items: center;
  
      &--hover {
        display: none;
      }
    }
  
    &:hover {
      background-color: var(--primary-blue-primary70);
      border-color: transparent;
  
      .careerOS-button__icon {
        display: none;
  
        &--hover {
          display: flex;
        }
      }
    }
   
  
    &:focus {
      outline: none;
    }
  
    &--icon-position-right {
      flex-direction: row-reverse;
    }
  
    &--disabled {
      background-color: var(--neutral-neutral30);
      pointer-events: none;
    }
  
    // TODO: remove it
    &--mode-rounded {
      padding: 0 12px;
      border-radius: 24px;
    }
  
    // Button sizes
    &--size-fill {
      width: 100%;
      max-width: 380px;
    }
    &--size-medium {
      min-height: 32px;
      padding: 6px 12px;
    //   @include body-medium;
  
      .careerOS-button__loader::after {
        height: 16px;
        width: 16px;
      }
    }
    &--size-small {
      min-height: 28px;
      padding: 4px 8px;
      column-gap: 4px;
    //   @include body-medium;
  
      .careerOS-button__loader::after {
        height: 16px;
        width: 16px;
      }
    }
    //TODO: we don't use this size in the design, so we will ned to remove it
    &--size-XS {
      min-height: 16px;
      padding: 4px 8px;
      column-gap: 4px;
    //   @include label-medium;
  
      .careerOS-button__loader::after {
        height: 16px;
        width: 16px;
      }
    }
  
    // Button outlined
    &--outlined {
      background: var(--bgColor-white);
      border: 1px solid var(--blue-green-blue-green80);
      color: var(--blue-green-blue-green80);
  
      &:hover{
        background-color: var(--blue-green-blue-green10);
        border: 1px solid var(--blue-green-blue-green80);
      }
  
      &:active {
        background-color: var(--primary-blue-primary50);
        color: var(--white);
      }
  
      .careerOS-button__loader::after {
        border-top: 2px solid var(--blue-green-blue-green80);
        border-right: 2px solid var(--blue-green-blue-green80);
      }
    }
  
    &--outlined.careerOS-button--mode-blue {
      min-width: fit-content;
      color: var(--purpose-information);
      border: 1px solid var(--purpose-information);
      background-color: var(--bgColor-white);
  
      &:hover,
      &:focus {
        background-color: var(--blue-green-blue-green10);
        border: 1px solid var(--purpose-information);
        color: var(--purpose-information);
      }
  
      &:active {
        border: 1px solid var(--purpose-information);
        background-color: var(--purpose-information);
        color: var(--text-white);
      }
    }
  
    &--outlined.careerOS-button--mode-dangerous {
      min-width: fit-content;
      color: var(--error-error50);
      border: 1px solid var(--error-error50);
      background-color: var(--bgColor-white);
  
      &:hover,
      &:focus {
        background-color: var(--error-error10);
        border: 1px solid var(--error-error60);
        color: var(--error-error60);
      }
  
      &:active {
        border: 1px solid var(--error-error60);
        background-color: var(--error-error20);
        color: var(--text-white);
      }
    }
  
    &--outlined.careerOS-button--disabled {
      color: var(--text-disabled);
      border-color: var(--blue-green-blue-green10);
      background-color: var(--bgColor-hover);
    }
  
    &--mode-blue {
      background-color: var(--purpose-information);
      color: var(--white);
  
      &:hover,
      &:focus {
        background-color: var(--neutral50);
      }
  
      &:active {
        background-color: var(--neutral40);
      }
  
      &.careerOS-button--disabled {
        background-color: var(--neutral-neutral30);
        pointer-events: none;
      }
    }
  
    // Button dangerous
    &--mode-dangerous {
      background-color: var(--error-error50);
      color: var(--white);
  
      &:hover,
      &:focus {
        background-color: var(--error-error60);
      }
  
      &:active {
        background-color: var(--error-error);
      }
    }
  
    &--mode-dangerous.careerOS-button--disabled {
      background-color: var(--neutral-neutral30);
      pointer-events: none;
    }
  
    // Button text
    &--mode-text {
      background: transparent;
      color: var(--primary-blue-primary50);
      box-shadow: none;
      padding: 0;
      min-height: fit-content;
    //   @include body-medium;
  
      &:hover,
      &:focus {
        background-color: transparent;
  
        .careerOS-button__label {
          text-decoration: underline;
        }
      }
  
      &:has(.careerOS-button__loader) {
        color: transparent;
      }
      .careerOS-button__loader::after {
        border-top: 2px solid var(--border-dark);
        border-right: 2px solid var(--border-dark);
      }
      .careerOS-button__icon {
        font-size: 16px;
      }
    }
  
    &--mode-reset {
      background: transparent;
      color: var(--primary-new);
      box-shadow: none;
      padding: 0;
      min-height: fit-content;
      border: none;
    //   @include body-medium;
  
      &:hover,
      &:focus {
        background-color: transparent;
        border: none;
  
        .careerOS-button__label {
          text-decoration: underline;
        }
      }
  
      &:has(.careerOS-button__loader) {
        color: transparent;
      }
      .careerOS-button__loader::after {
        border-top: 2px solid var(--border-dark);
        border-right: 2px solid var(--border-dark);
      }
      .careerOS-button__icon {
        font-size: 16px;
      }
    }
  
    &--hint {
      font-style: italic;
      color: var(--text-subtitle);
    }
  
    // Mode invisible
  
    &--mode-invisible {
      background: transparent;
      color: var(--blue-green-blue-green80);
      box-shadow: none;
  
      &:hover {
        background-color: var(--blue-green-blue-green10);
      }
  
      &:focus {
        background-color: var(--blue-green-blue-green20);
      }
  
      &.careerOS-button--disabled {
        color: var(--text-disabled);
      }
      &:has(.careerOS-button__loader) {
        color: transparent;
      }
      .careerOS-button__loader::after {
        border-top: 2px solid var(--border-dark);
        border-right: 2px solid var(--border-dark);
      }
    }
  
    // TODO: remove it
    &--mode-cancelling {
      background-color: var(--neutral-neutral30);
  
      &:hover,
      &:focus {
        background-color: var(--neutral-neutral40);
      }
    }
  
    // Mode special
  
    &--mode-special {
      background-color: var(--bgColor-white);
      border: 1px solid var(--purple);
      color: var(--purple);
  
      &:hover,
      &:focus {
        background-color: var(--tertiary-purple-tertiary10);
        border: 1px solid var(--purple);
      }
  
      &:active {
        background-color: var(--purple);
        color: var(--white);
      }
  
      &.careerOS-button--disabled {
        background-color: var(--purple);
        color: var(--white);
      }
    }
  
    &__loader {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: inherit;
      border-radius: inherit;
  
      &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(50%, 50%);
        height: 20px;
        width: 20px;
        margin: auto;
        border: 2px solid transparent;
        border-radius: 50%;
        border-top: 2px solid;
        border-right: 2px solid;
        animation: buttonLoaderSpinner 1.5s linear infinite;
      }
    }
  }
  
  @keyframes buttonLoaderSpinner {
    0% {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
      transform: translate(-50%, -50%) rotate(360deg);
    }
  }