:root {
    font-family: "NunitoSans-Regular";
    line-height: 1.5;
    font-weight: 400;
  
    color-scheme: light dark;
    color: #000;
    background: #fbfbfb;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
  
    --outline-variant: #bec9c8;
    --surface-variant: #dae5e4;
    --surface: #fbfcff;
    --surface-opacity21: rgba(251, 252, 255, 0.21);
    --surface-opacity80: rgba(251, 252, 255, 0.8);
    --on-surface: #001e2d;
  
    --tertiary90: #92f7bc;
    --tertiary95: #c0ffd6;
    --tertiary40: #006d42;
  
    --secondary: #fc5f47;
  
    --linkedin: #0a66c2;
    --ai: #b32bb3;
    --ai-hover: #e011e0;
    --quaternary: #fc47be; // --extension: #FC47BE; (del)
    --quaternart-bg: #ffd6f6;
    --company: #665beb;
    --application: #ad6605;
    --linkedin-dark: #07519b;
  
    --purple: #9747ff;
    --purple-opacity10: rgba(151, 71, 255, 0.1);
    --purple-opacity15: rgba(151, 71, 255, 0.15);
    --purple-light: #f5edff;
  
    //* Neutral */
    --neutral30: #004c6b;
    --neutral40: #00658d;
    --neutral50: #007fb0;
    --neutral60: #2c9acf;
    --neutral70: #51b5eb;
    --neutral80: #82cfff;
    --neutral90: #c6e7ff;
    --neutral95: #e4f3ff;
    --neutral98: #f5faff;
    --neutral99: #fbfcff;
  
    --neutral: #fbfcff;
    --neutral-variant95: #e9f3f2;
  
    --neutral60-opacity30: rgba(44, 154, 207, 0.3);
  
    --neutral-neutral10: #dae5e4; //--neutral-variant90
    --neutral-neutral20: #bec9c8; //--neutral-variant80
    --neutral-neutral30: #a3adad; //--neutral-variant70 --text-disabled --border-dark --icon-dismiss
    --neutral-neutral40: #889392; //--neutral-variant60
    --neutral-neutral50: #6f7979; //--neutral-variant50 (--text-subtle) --text-subtitle
    --neutral-neutral60: #566060; //--neutral-variant40
    --neutral-neutral70: #3f4948; //--neutral-variant30
    --neutral-neutral80: #293232; //--neutral-variant20 --tooltip-background
    --neutral-neutral90: #141d1d; //--neutral-variant10 --text-default --icon-dark
    --neutral-neutral100: #000000;
  
    --neutral-neutral80-opacity30: rgba(41, 50, 50, 0.3); // --neutral-variant20-opacity30: rgba(41, 50, 50, 0.3);
  
    //* Primary */
    --primary-container: #002020;
  
    --primary: var(--blue-green-blue-green80, #004850);
    --primary-old: #2da546;
    --primary20: #00370b;
    --primary30: #005010;
    --primary40: #006a15;
    --primary60: #00a120;
    --primary80: #4cda68;
    --primary98: #e2ffe8;
    --primary99: #f1fff4;
  
    --primary-opacity8: rgba(45, 165, 70, 0.08); //--primart-opacity8
    --primary-opacity20: rgba(45, 165, 70, 0.2);
    --primary-opacity30: rgba(45, 165, 70, 0.3);
  
    //* Primary Blue */
    --primary-blue-primary10: #def6f4;
    --primary-blue-primary20: #bbece8; // --soft-sky --border-blue
    --primary-blue-primary30: #2dcdc7; // --turquoise-teal --border-active-outline
    --primary-blue-primary40: #2bbeb8;
    --primary-blue-primary50: #20a19d;
    --primary-blue-primary60: #127774;
    --primary-blue-primary70: #115c5a; // --forest-teal
    --primary-blue-primary80: #094341;
    --primary-blue-primary90: #032b29;
    --primary-blue-primary100: #031413;
  
    //* Secondary Green */
    --secondary-green-secondary00: #eefbf5;
    --secondary-green-secondary10: #ddf7ec;
    --secondary-green-secondary20: #b9eed9;
    --secondary-green-secondary30: #64dbb3;
    --secondary-green-secondary40: #04d1a1;
    --secondary-green-secondary50: #06a47e;
    --secondary-green-secondary60: #07795c;
    --secondary-green-secondary70: #055e47;
    --secondary-green-secondary80: #024433;
    --secondary-green-secondary90: #002c1f;
    --secondary-green-secondary100: #00150d;
  
    //* Tertiary Purple */
    --tertiary-purple-tertiary10: #ecf0ff;
    --tertiary-purple-tertiary20: #dbe1ff; //--bgColor-gradient
    --tertiary-purple-tertiary30: #b9c4fe;
    --tertiary-purple-tertiary40: #98a6fd;
    --tertiary-purple-tertiary50: #808cd7;
    --tertiary-purple-tertiary60: #5e679f;
    --tertiary-purple-tertiary70: #484f7c;
    --tertiary-purple-tertiary80: #34395c;
    --tertiary-purple-tertiary90: #20243c;
    --tertiary-purple-tertiary100: #0e101d;
  
    //* Blue Green */
    --blue-green-blue-green10: #eef1f2;
    --blue-green-blue-green20: #dce4e6; // --border-light
    --blue-green-blue-green30: #bac9cc;
    --blue-green-blue-green40: #98afb3;
    --blue-green-blue-green50: #78969a;
    --blue-green-blue-green60: #467177;
    --blue-green-blue-green70: #255a61; //--primary-new40
    --blue-green-blue-green80: #004850; //--primary-new
    --blue-green-blue-green90: #012b30; //--primary-new30
    --blue-green-blue-green100: #001417;
    //* Error */
    --error-error: #93000a;
    --error-error10: #ffdad6;
    --error-error20: #ffb4ab;
    --error-error30: #ff897d;
    --error-error40: #ff5449;
    --error-error50: #de3730;
    --error-error60: #ba1a1a; // --error (old) --text-error --border-error
  
    --error-opacity30: rgba(186, 26, 26, 0.3);
  
    //* Purpose */
    --purpose-higlight: var(--purple, #9747ff);
    --purpose-warning: #eb993e; //--tone-70: #eb993e;
    --purpose-warning-light: #ffe194;
    --purpose-success: var(--primary-old, #2da546);
    --purpose-information: var(--neutral60, #2c9acf);
  
    --purpose-warning-opacity30: rgba(235, 153, 62, 0.3); //--tone-70-opacity30
  
    //* Tooltip */
    --tooltip-background: var(--neutral-neutral80, #293232);
    --tooltip-text: var(--white, #ffffff);
  
    //* Icon Colors */
    --icon-dark: var(--neutral-neutral90, #141d1d);
    --icon-light: var(--white, #ffffff);
    --icon-dismiss: var(--neutral-neutral30, #a3adad);
    --icon-primary: var(--blue-green-blue-green70);
    --icon-grey: var(--neutral-neutral50, #6f7979);
    --turquoise-light: #d6efed;
  
    //* Background Colors */
    --bgColor-default: #fbfbfb;
    --bgColor-white: var(--white, #ffffff);
    --bgColor-hover: #f5f7f9; // --background: #f5f7f9;
    --bgColor-gradient: radial-gradient(6588.99% 145.09% at 102.44% 0%, #dbe1ff 0%, #eefbf5 100%);
  
    //* Text Colors */
    --text-default: var(--neutral-neutral90, #141d1d);
    --text-subtitle: var(--neutral-neutral50, #6f7979); // --text-subtle
    --text-linked: var(--primary-blue-primary50, #20a19d);
    --text-disabled: var(--neutral-neutral30, #a3adad);
    --text-white: var(--white, #ffffff);
    --text-error: var(--error-error60, #ba1a1a);
  
    //* Border Colors */
    --borderColor-default: #d0d7de;
    --border-light: var(--blue-green-blue-green20, #dce4e6);
    --border-dark: var(--neutral-neutral30, #a3adad);
    --border-blue: var(--primary-blue-primary20, #bbece8);
    --border-active-outline: var(--primary-blue-primary30, #2dcdc7);
    --border-error: var(--error-error60, #ba1a1a);
  
  
    --tone-50: #ad6605;
    --tone-90: #ffdcbe;
  
    --icon-AI: #9747FF;
  
    --surface1: linear-gradient(0deg, rgba(0, 106, 106, 0.05), rgba(0, 106, 106, 0.05)), #fbfcff;
    --gradient: radial-gradient(160% 190% at -15% -15%, #eefbf5 0%, #dbe1ff 100%);
    --dark-gradient: linear-gradient(319.71deg, #98A6FD 0%, #2DCDC7 100%);
    --gradient-with-opacity: radial-gradient(
      160% 190% at -15% -15%,
      rgba(238, 251, 245, 0.7) 0%,
      rgba(219, 225, 255, 0.7) 100%
    );
  
    --box-shadow: 0px 0px 4px 0px #6b6b6b40;
  
    --stepper-completed: #57cc99;
    --stepper-active: #b5e48c; //new one #ECF8F3
  
    --company-opacity30: rgba(102, 91, 235, 0.3);
  
    --white: #ffffff;
    --white-opacity30: rgba(255, 255, 255, 0.3);
    --white-opacity65: rgba(255, 255, 255, 0.65);
    --off-white: #f2f2f2;
    --arctic-white: #eef5f8;
    --gray: #cccccc;
  
    --black: #000000;
    --black-opacity10: rgba(0, 0, 0, 0.1);
    --black-opacity25: rgba(0, 0, 0, 0.25);
    --black-opacity50: rgba(0, 0, 0, 0.5);
  
    --dark-teal: #005a4a;
    --deep-forest-green: #1a4338;
    --inverse-surface: #00344b;
  
    --login-page-gradient: radial-gradient(315.9% 164.62% at 108.5% -11.3%, #e7e2fa 0%, #f2fcf7 100%);
    --sidebar-collapsed-width: 75px;
    --sidebar-width: 250px;
  
    //TODO: fix colors and check it with the design
    --charcoal-gray: #262626;
    --royal-purple: #5b32ee;
    --royal-purple-opacity20: rgba(91, 50, 238, 0.2);
  
    --aquamarine-green: #0bc79a;
    --aquamarine-green-opacity20: rgba(11, 199, 154, 0.2);
    --pale-mint: #dfe8cc;
  
    --bronze: #b98809;
    --sunset-orange: #fdab5f;
    --golden-yellow: #ffc727;
    --sunshine-yellow: #eebe41;
    --amber-orange: #ee9832;
    --amber-orange-opacity20: rgba(238, 152, 50, 0.2);
  
    --platinum: #d8d8d8;
    --lavender-mist: #ede9f9;
    --soft-vanilla: #f3ecd9;
    --vanila-cream: #fff3d9;
    --silver-cloud: #e2e2e2;
    --peach-cream: #fce4cf;
  
    --cerulean-blue: #3288ee;
    --cerulean-blue-opacity20: rgba(50, 136, 238, 0.2);
    --blue: #0953f2;
    --midnight-blue: #2b3467;
    --gentle-blue-opacity25: rgba(7, 87, 182, 0.25);
    --light-blue: #8bb4d2;
    --light-blue-opacity10: rgba(139, 180, 210, 0.1);
    --light-blue-opacity20: rgba(139, 180, 210, 0.2);
    --light-blue-opacity70: rgba(139, 180, 210, 0.7);
  
    --vivid-red: #ee3d32;
    --brick-red-opacity8: rgba(165, 45, 45, 0.08);
    --crimson-pink: #c8075a;
    --cotton-candy-pink: #ffe5f1;
    --blush-pink: #f6e0de;
  
    --slate-gray: #3f4e4f;
    --gray-opacity49: rgba(89, 89, 89, 0.49);
    --select-z-index: 100;
    --modal-z-index: 100;
    --tracker-overlay-z-index: calc(var(--modal-z-index) - 1);
    --navbar-z-index: calc(var(--tracker-overlay-z-index) - 1);
    --topbar-z-index: calc(var(--navbar-z-index) - 1);
    --loader-z-index: calc(var(--topbar-z-index) - 1);
    --sidebar-z-index: calc(var(--loader-z-index) - 1);
    --email-actions-z-index: 10;
    --contact-emails-popup-z-index: calc(var(--email-actions-z-index) + 1);
  
    --mobile-elements: 20;
  
    --space-x-large: 24px;
    --space-large: 12px;
    --space-medium: 8px;
    --space-x-small: 4px;
  
    --topbar-height: 50px;
  
    --Body-Ink: #425466;
    --Progress-Bar: linear-gradient(0deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0.25) 100%),
      linear-gradient(90deg, #808cd7 0%, #9747ff 100%);
    --counter: #593200;
  
    //Spacing
  
    --Tokens-Spacing-xxl: 48px;
    --Tokens-Spacing-xl: 32px;
    --Tokens-Spacing-lg: 24px;
    --Tokens-Spacing-md: 16px;
    --Tokens-Spacing-sm: 8px;
    --Tokens-Spacing-xs: 4px;
    --Tokens-Border-Radius-round: 50%;
    --Tokens-Border-Radius-lg: 16px;
    --Tokens-Border-Radius-md: 8px;
    --Tokens-Border-Radius-sm: 4px;
  
    --low-percentage-color: #de3730;
    --medium-percentage-color: #fbcf58;
    --high-percentage-color: #2da546;
  }